/* debug */
/* header{
    background-color: blue;
} */
.main-color-2{
    background-color: #1ABC9C;
}
.portfolio{
    background-color: white;
}
.about{
    background-color: green;
}
.contact-me{
    background-color: ivory;
}
.footer-top{
    background-color: lightblue;
}
.footer-bottom{
    background-color: lightslategray;
}

.main-color-1{
    background-color: rgb(44, 62, 80);
}
.main-color-3{
    background-color: rgb(58, 84, 109);
}
/* type  */
.main-text-1{
    color: white;
}
.box-image{
    max-width: 400px;
    margin: auto;
}
.box-image>img{
    width: 100%;
}
.portfolio img {
    width: 100%;
}
.barr{
    width: 150px;
    height: 3px;
    background-color: white;
}


.custom-container{
    width: 60%;
    margin: auto;
}
.button-white{
    background-color: #1ABC9C;
    background-color: ;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.color-black{
    background-color: black;
}
/* .circle{
    border: 1px solid white;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
} */