/* debug */
/* header{
    background-color: blue;
} */
.start{
    background-color: chartreuse;
}
.portfolio{
    background-color: coral;
}
.about{
    background-color: green;
}
.contact-me{
    background-color: ivory;
}
.footer-top{
    background-color: lightblue;
}
.footer-bottom{
    background-color: lightslategray;
}

.main-color-1{
    background-color: rgb(44, 62, 80);
}

/* type  */
.main-text-1{
    color: white;
}
.box-image{
    max-width: 400px;
    margin: auto;
}
.box-image>img{
    width: 100%;
}
.portfolio img {
    width: 100%;
}
